<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Terminal Wars</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>
	<body>
	<!--- yeah, sorry. i'll make up for this by adding theme support. --->
	<canvas class="draw"></canvas>
	<img style='position: absolute; z-index: 212121'; class="mpeg"></img>
	<span class="debug"></span>
	<span class="debug2"></span>
	<span class="notices"></span>
	<!-- We have this here for the code which measures the dpi -->
	<span id='dpi' style='height: 1in;'></span>
	<script src="/static/js/browserCheck.js"></script>
	<script type="module" src='/static/js/micromod/AudioPlayer.js'></script>
	<script type="module" src='/static/js/micromod/micromod.js'></script>
    <script type="module" src='/static/js/main.js'></script>
  </body>
</html>
